<div class="container vertical-center">
  <div class="card card-container center-block">
    <!-- <img id="logo-img" class="logo-img-card" src="assets/LogoWMS1.png" /> -->
    <p id="empresa-nome" class="empresa-nome-card"></p>
    <form class="form-resetar-senha">
      <span id="email" class="email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
      <button class="btn btn-lg btn-primary btn-block btn-resetar-senha" type="submit">Resetar senha</button>
    </form>
    <a href="#" routerLink="/login" class="esqueceu-senha">Voltar</a>
  </div>
</div>
